.FooterWrapper{
    width: 100%;
    height: 30vh;
    background-color : #575555;
    position: absolute;
    bottom: 0;
    padding-left: 24px;
    padding-right: 24px;
    margin-right:5px;
    box-sizing: border-box;
}