.ReviewWrapper{
    min-height: 100vh;
    position: relative;
    padding-top: 10vh;
    padding-bottom: 30vh;
    box-sizing: border-box;
}
.ReviewBody{
    min-height:60vh;
    margin-left:20%;
    margin-right:20%;
    margin-top: 0%;
    padding: 5%;
}
.ReviewTag{
    margin-left:1%;
    margin-right:1%;
    background-color:#C0C0C0;
}
