.SearchReviewWrapper{
    min-height: 100vh;
    position: relative;/*←相対位置*/
    padding-top: 10vh;
    padding-bottom: 30vh;
    box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}
.SearchReviewBody{
    min-height: 50vh;
    margin-left:20%;
    margin-right:20%;
    margin-top: 0%;
    padding: 5%;
}